body {
    margin: 0;
    padding: 0;
    background: 
        rgba(255, 255, 255, 0.6), 
        url('/img/shekina_logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}